.container {
  width: 50vw;
}
main{
 margin : auto; 
 text-align: center;
 align-items: center;
}

figcaption::first-line{
  text-transform: uppercase;
}

img {
  width: 299px;
  height: 299px;
  border-radius: 50%;
}