.container {
  width: 50vw;
}
main{
 margin : auto; 
 text-align: center;
}

figcaption{
  text-align: left;
  margin-left: 29%;
  width: 50%;
}

figcaption::first-line{
  font-weight: bold;
}

img {
  width: 299px;
  height: 299px;
  border-radius: 50%;
}