.form {
    border: 1px solid black;
    border-radius: 1.5%;
    padding: 40px 15px;
    box-sizing: border-box; 
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 40px;
}

h1{
    text-transform: uppercase;
    text-align: center;
}
.form-element{
    margin: 20px auto;
}

.form-element label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}
.form-element input{
    width: 70%;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0px;
}
fieldset section{
    padding: 10px;
}
legend{
    font-weight: bold;
}

.btn {
    width: 100px;
    height: 25px;
    border: 1px solid green;
    border-radius: 5%;
}

.btn-primary {
    background-color: var(--green);
    color: var(--white);
    width: 50%;
}
.btn-primary:hover {
    background-color: var(--orange);
    color: var(--black);
    
}

.btn-secondary {
    background-color: var(--white);
    color: var(--green);
    width: 48.5%;
}


